* {
    margin:0;
    padding:0;
  }
  a{
    text-decoration: none;
  }
  body{
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
  }
  html{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .title{
    position: absolute;
    left:50%;
    top:20%;
    transform:translate(-50%,-50%);
  }
  h1{
    font-size:60px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    color:#ffd800;
    letter-spacing:0px;
    transition:1s;
    -webkit-transition:1s;
    -ms-transition:1s;
    position: relative;
    padding:10px;
    letter-spacing: 30px;
    cursor:pointer;
  }
  
  .title h2{
    color:#fff;
    font-family: serif, cursive;
    text-align:center;
    font-size:100px;
    font-weight:100;
    bottom:40px;
    position: absolute;
    transition:2s;
    -webkit-transition:2s;
    -ms-transition:2s;
    opacity:0.1;
    width: 100%;
    cursor: pointer;
  }
  .title h2:hover{
   opacity: 0.8;
  }
  



  img{
    border-radius: 20px 40px;
  }
  figcaption{
      font-size: 13px;
      margin-top: 0;
  }
  
  .first:hover{
   opacity:1;
   transition-duration: 1s;
  }
  p,pre{
      margin-top: 40px;
      margin-left: -15px;
      font-weight: 500;
      font-size: 20px;
      font-family: sans-serif;
      line-height: 33px;
      color: #f5efd0;
  }
  h3{
    color: #ffd800;
    margin-top: 4%;
    font-size: 65px;
    margin-left: 40px;
    margin-bottom: 0;
  }
  h4{
    color: #ffd800;
      letter-spacing: 6px;
      margin-left:40px;
      margin-top: 0;
      font-size: 20px;
  }
.cont{
 
}





  .banner {
      position:absolute; 
      margin-top:17%; 
      left:12%;
      height: 3700px;
      width: 1140px;
      margin-bottom: 5%;
     
   }

  .banner::before, .banner::after {
      content:'';
      position: absolute;
      top:50%;
      left:50%;
      width:100%;
      height: 100%;
      transform: translate(-50%, -50%);
      transition: all .8s;
  }
  .banner::before {
      border-top:2px solid #ffd800;
      border-bottom:2px solid #ffd800;
      width:0;
  }
  .banner::after {
      border-left:2px solid #ffd800;
      border-right:2px solid #ffd800;
      height:0;
  }
  .banner:hover::before {width:100%}
  .banner:hover::after { height:100%;}
  



.first:hover{
 opacity:1;
 transition-duration: 1s;
}


.second{
    
    top:570%;
    left: 24%;
    position: absolute; 
    transform:translate(-50%,-50%);
    margin-bottom: 10%;
}
.third{
    
    top:570%;
    left: 53%;
    position: absolute; 
    transform:translate(-50%,-50%);
    margin-bottom: 10%;
}
.fourth{
    top:570%;
    left: 74%;
    position: absolute; 
    transform:translate(-13%,-50%);
    margin-bottom: 10%;
}
.second2{
    top: 610%;
    left: 24%;
    position: absolute; 
    transform:translate(-50%,-50%);
    padding-bottom: 20%;
}
.third2{
    
    top:587%;
    left: 53%;
    position: absolute; 
    transform:translate(-50%,-50%);
    margin-bottom: 10%;
}
.fourth2{
    top:587%;
    left: 78%;
    position: absolute; 
    transform:translate(-13%,-50%);
    margin-bottom: 10%;
}

  h5{
    font-size:23px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    color:#ffd800;
    letter-spacing:0px;
    transition:1s;
    -webkit-transition:1s;
    -ms-transition:1s;
    position: relative;
    padding:6px;
  
  }
  h6{
    color:#ffd800;
    font-family:sans-serif;
    text-align:center;
    font-size:20px;
    top:40px;
    position: absolute;
    transition:0.7s;
    -webkit-transition:0.7s;
    -ms-transition:1s;
    opacity:0.8;
    width: 100%;
  
  }
  
h5:before,
h5:after{
  content:"";
  position: absolute;
  height: 1px;
  width: 0px;
  background:#ffd800;
  transition:300ms;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.3;
  left:50%;
}

h5:before{
  bottom:0;
}

h5:after{
  top:0;
}

h5:hover{
  letter-spacing:3px;
}

h5:hover:before,
h5:hover:after{
  width: 97%;
  opacity:0.7;
  left:0;

}
h5:hover ~ h6{
  opacity:0;
}



