@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100italic,300,300italic);
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(45deg, rgb(18, 82, 18) 10%, yellow 80%);
}

h1 {
  text-shadow: 1px 1px #1e280a, 2px 2px #1e280a, 3px 3px #1e280a, 4px 4px #1e280a, 5px 5px #1e280a, 6px 6px #1e280a, 7px 7px #1e280a, 8px 8px #1e280a, 9px 9px #1e280a, 10px 10px #1e280a, 11px 11px #1e280a, 12px 12px #1e280a, 13px 13px #1e280a, 14px 14px #1e280a, 15px 15px #1e280a, -1px 1px olivedrab, -2px 2px olivedrab, -3px 3px olivedrab, -4px 4px olivedrab, -5px 5px olivedrab, -6px 6px olivedrab, -7px 7px olivedrab, -8px 8px olivedrab, -9px 9px olivedrab, -10px 10px olivedrab, -11px 11px olivedrab, -12px 12px olivedrab, -13px 13px olivedrab, -14px 14px olivedrab, -15px 15px olivedrab, -1px -1px #aed65a, -2px -2px #aed65a, -3px -3px #aed65a, -4px -4px #aed65a, -5px -5px #aed65a, -6px -6px #aed65a, -7px -7px #aed65a, -8px -8px #aed65a, -9px -9px #aed65a, -10px -10px #aed65a, -11px -11px #aed65a, -12px -12px #aed65a, -13px -13px #aed65a, -14px -14px #aed65a, -15px -15px #aed65a, 1px -1px olivedrab, 2px -2px olivedrab, 3px -3px olivedrab, 4px -4px olivedrab, 5px -5px olivedrab, 6px -6px olivedrab, 7px -7px olivedrab, 8px -8px olivedrab, 9px -9px olivedrab, 10px -10px olivedrab, 11px -11px olivedrab, 12px -12px olivedrab, 13px -13px olivedrab, 14px -14px olivedrab, 15px -15px olivedrab, 0 -1px black, 0 -2px black, 0 -3px black, 0 -4px black, 0 -5px black, 0 -6px black, 0 -7px black, 0 -8px black, 0 -9px black, 0 -10px black, 0 -11px black, 0 -12px black, 0 -13px black, 0 -14px black, 0 -15px black, 0 1px black, 0 2px black, 0 3px black, 0 4px black, 0 5px black, 0 6px black, 0 7px black, 0 8px black, 0 9px black, 0 10px black, 0 11px black, 0 12px black, 0 13px black, 0 14px black, 0 15px black, -1px 0 #aed65a, -2px 0 #aed65a, -3px 0 #aed65a, -4px 0 #aed65a, -5px 0 #aed65a, -6px 0 #aed65a, -7px 0 #aed65a, -8px 0 #aed65a, -9px 0 #aed65a, -10px 0 #aed65a, -11px 0 #aed65a, -12px 0 #aed65a, -13px 0 #aed65a, -14px 0 #aed65a, -15px 0 #aed65a, 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black, 6px 0 black, 7px 0 black, 8px 0 black, 9px 0 black, 10px 0 black, 11px 0 black, 12px 0 black, 13px 0 black, 14px 0 black, 15px 0 black;
  font: 100 150px/1 Alegreya Sans;
  letter-spacing: 20px;
  text-align: center;
  color: sienna;
}

h3{
 letter-spacing: 10px;
  text-align: center;
  color: sienna;
}
p {
    font: Alegreya Sans;
    font-size: large;
    letter-spacing: 5px;
    text-align: center;
    color: sienna;
  }
  a{
    text-decoration: none;
  }