@import url("https://fonts.googleapis.com/css?family=Pathway Gothic One");
/* Fonts at: https://www.google.com/fonts */
/* Colors */
 body {
	 background: linear-gradient(135deg, #3e4777 0%, #f46e6e 100%);
	 margin: 0;
	 width: 100%;
	 height: 100vh;
	 display: flex;
	 align-items:flex-start;
	 justify-content: center;
}
html{
	overflow-x: hidden;
}
 span {
	 cursor: default;
	 font-family: "Pathway Gothic One", sans-serif;
	 font-size: 100px;
	 position: relative;
	 letter-spacing: -2px;
	 color: #f46e6e;
	 margin-top: 3%;
}
 span:before {
	 content: '';
	 height: 1px;
	 position: absolute;
	 bottom: 1%;
	 background: #f46e6e;
	 width: 0%;
	 animation: voila 3s  forwards linear;
}
 span:nth-child(2) {
	 opacity: 0.8;
}
 span:nth-child(3) {
	 opacity: 0.63;
}
.title{
	margin-left: 10%;
}
 @keyframes voila {
	 to {
		 width: 100%;
	}
}

h4{
	position:absolute;
	color: aliceblue;
	font-weight: 100;
	opacity: 0.4;
	transition-duration: 2s;
	font-size: 20px;
}

h4:hover{
	opacity: 0.9;
	
}
h4:before,
h4:after{
  content:"";
  position: absolute;
  height: 0.7px;
  width: 0px;
  background:#ffffff;
  transition:300ms;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.3;
  left:50%;
}

h4:before{
  bottom:0;
}

h4:after{
  top:0;
}

h4:hover{
  letter-spacing:2px;
  transition-duration: 2s;
}

h4:hover:before,
h4:hover:after{
  width: 97%;
  left:0;
}
a{
	text-decoration: none;
	color: aliceblue;
	position: absolute;

}
.hom{

    position: absolute;
    margin-left: -6.5%;
    margin-top:0%;
   z-index: 7;

}



.circle{
	position: absolute;
	border:10px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	width: 350px;
    height: 350px;
	margin-top: 16%;
	display:inline-block;
	margin-left: -62%;
	animation: bounce 0.7s 0s infinite ease-out alternate; 
	
}

.circle3:hover,
.circle:hover{
	animation-play-state: paused;
}
.circle2{
	
	position: absolute;
	border:10px solid rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	width: 350px;
    height: 350px;
	margin-top: 16%;
	display:inline-block;
	margin-left: 0%;
	animation: bounce 0.7s 0.5s infinite ease-out alternate; 

}
.circle2:hover{
	animation-play-state: paused;
}
.circle3{
	
	position: absolute;
	border:10px solid rgba(174, 175, 116, 0.4);
	border-radius: 50%;
	width: 350px;
    height: 350px;
	margin-top: 16%;
	display:inline-block;
	margin-left: 60%;
	animation: bounce 0.7s 0.7s infinite ease-out alternate; 
}
.circle h2{
	font-size: 43px;
	text-align: center;
	margin-top: 30%;
	color: rgba(255, 255, 255, 0.3);
	transition-duration: 1s;
}
.circle2 h2{
	font-size: 43px;
	text-align: center;
	margin-top: 32%;
	color: rgba(255, 255, 255, 0.3);
	transition-duration: 1s;
	margin-right: 0%;
}
.circle3 h2{
	font-size: 43px;
	text-align: center;
	margin-top: 15%;
	color: rgba(255, 255, 255, 0.3);
	transition-duration: 1s;
	margin-right: 0%;
}
h2:hover{
	letter-spacing: 4px;
	transition-duration: 1s;
	color: rgba(255, 255, 255, 0.7);
}
a{
	text-decoration: none;
	color: none;
}

@keyframes bounce {
	from{
		transform:translateY(30px);

	}
	to{
		transform:translateY(-35px);
	}
	
}
p{
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}
.circle p{
	margin-top: 65%;
}
.circle2 p{
	margin-top:68%;
}
.circle3 p{
	margin-top: 84%;
}
